.planner-container {
	min-width: 700px;
	font-family: 'Courier New', Courier, monospace;
	margin: auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 95%;
}
.planner-left {
	margin-right: 5px;
	width: 800px;
}
.planner-right {
	border: 1px solid black;
	width: 600px;
}
