/* .day-container {
	background-color: rgb(65, 68, 63);
	border: 2px solid black;
	color: aqua;
} */
.dayOfWeekTitle {
	background-color: rgb(65, 68, 63);
	color: floralwhite;
}
.dailyTaskContainer {
	/* border: 1px solid black; */
	background-color: white;
	height: 600px;
	overflow-y: scroll;
	scrollbar-width: thin; /* "auto" or "thin"  */
	scrollbar-color: rgb(233, 233, 247) rgb(245, 244, 241); /* scroll thumb & track */
}
.dailyTaskContainer::-webkit-scrollbar {
	width: 8px; /* width of the entire scrollbar */
}
.dailyTaskContainer::-webkit-scrollbar-track {
	background: rgb(245, 244, 241); /* color of the tracking area */
}
.dailyTaskContainer::-webkit-scrollbar-thumb {
	background-color: rgb(233, 233, 247); /* color of the scroll thumb */
	border-radius: 5px; /* roundness of the scroll thumb */
	border: 1px solid rgb(71, 69, 64); /* creates padding around scroll thumb */
}
/* .dayOfWeekTitleSticky {
	position: absolute;
	width: 100%;
} */
.dailyTaskGrid {
	border-bottom: 1px solid gray;
	display: flex;
	flex-direction: row;
}
.dayOfWeekTitle {
	text-align: center;
	border-bottom: 1px solid gray;
}
.period {
	border-right: 1px solid black;
	width: 50px;
	text-align: left;
}
.task {
	border-right: 1px solid black;
	flex-grow: 1;
	padding: 1%;
}
.eventsList {
	border-bottom: 1px solid black;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.singleEventItem {
	border: 1px solid black;
	background-color: aquamarine;
	margin: 5px;
}
.deleteEventItem-wrapper {
	position: absolute;
	width: 15px;
	height: 15px;
	margin-top: -10px;
	margin-left: -5px;
	cursor: pointer;
}
.del-event-item-btn-show {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
}
.del-event-item-btn-hide {
	display: none;
	width: 15px;
	height: 15px;
	position: absolute;
}
