.overview-container {
	font-family: 'Courier New', Courier, monospace;
	margin: auto;
	width: 70%;
	padding: 10px;
	/* border: 1px solid black;
	background-color: beige; */
}
.overview-header {
	margin: auto;
	width: 70%;
	padding: 10px;
	border: 1px solid black;
	background-color: aliceblue;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.overview-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.overview-select-year {
	margin: auto;
	display: block;
}
.reset-all-btn {
	font-weight: bold;
	width: 150px;
	padding: 2px;
	border: 1px solid black;
	background-color: antiquewhite;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
}
