.eventWidget {
	border: 1px solid black;
	width: 98.5%;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.eventWidgetTitle {
	width: 110px;
	background-color: black;
	color: white;
	padding-left: 10px;
	font-size: 14px;
	padding-top: 2px;
}
.eventAddButton {
	width: 50px;
	border-right: 1px solid black;
	padding-top: 2px;
	padding-left: 10px;
	width: 40px;
	background-color: rgb(169, 218, 121);
	cursor: pointer;
}
.eventAddButton:hover {
	background-color: rgb(188, 224, 152);
	font-weight: bold;
}
